.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
coverage/

.DS_Store
.idea/
*.iml
.metadata

android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

example/.dart_tool/
example/build/
example/.idea/
example/*.iml
example/android/local.properties
example/android/*.iml
